[submodule "1."]
	path = 1.
	url = https://github.com/lengstrom/fast-style-transfer
[submodule "1. Introduction to Deep Learning/fast-style-transfer"]
	path = 1. Introduction to Deep Learning/fast-style-transfer
	url = https://github.com/lengstrom/fast-style-transfer
